.navbar{
    background-color: #1a237e;
}
.myBtn{
    background-color: #1a237e;
    color: white;
    width: 100px;
}
.myBtn:hover{
    background-color: #1a227ef3;
    color: white;
}
.navbar-brand{
    color: rgb(254, 254, 254);
}
.bg-img{
    width: 60px;
    height: 60px;
  object-fit: cover;
  border-radius: 5px;
}
.bg-img:hover{
    transition: 1s;
    transform: scale(1.1);
    cursor: pointer;
}
.selectedImg{
    border: 2px solid #1a237e;
    border-radius: 5px;
}
.container-fluid {
  padding: 10px;
}
.card {
  border-radius: 10px;
}
@media (max-width: 576px) {
  .bg-img {
    width: 45px;
    height: 45px;
  }
  .myBtn {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .navbar-brand {
    font-size: 1.2rem;
  }
  textarea, input {
    font-size: 0.9rem;
  }
}
